body {
    background-color: #000000;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

.loading-screen > p {
    margin: 25% 0;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    font-weight: 700;
}

#loading {
    display: block;
}

#game-loaded {
    display: none;
}

/* intructions modal, code taken from w3Schools */
/* The Modal (background) */
.modal-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 87vh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%;
  }

  .modal-content > h2 {
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* alignment for the game page and game functions */
.game-start-menu {
    background-color: #ffffff;
    padding: 0;
    border: none;
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-areas:
    'header header header header header header'
    'storybox storybox storybox storybox storybox storybox'
    'strv strv dexv dexv cunv cunv'
    'strn strn dexn dexn cunn cunn'
    'kbtn kbtn tbtn tbtn mbtn mbtn'
    'act act ngp ngp run run';
}

.game {
    background-color: #ffffff;
    padding: 0;
    border: none;
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-areas:
        'header header header header header header'
        '. strn strv storybox storybox .'
        '. dexn dexv storybox storybox .'
        '. cunn cunv storybox storybox .'
        'kbtn kbtn tbtn tbtn mbtn mbtn'
        'act act ngp ngp run run';
    padding-bottom: 10px;
}

#game > div {
    padding: 5px;
}

header {
    text-align: center;
    margin: 5px 5%;
    grid-area: header;
}

#story-box {
    grid-area: storybox;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 0px;
}

#intro-text {
    position: relative;
    z-index: 1;
}

.story-box-completed {
    width: 91.75%;
    height: 50vh;
}

.stat-values {
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}

.stat-titles {
    text-align: center;
}


#str-num {
    grid-area: strv;
    margin: auto 0;
}

#dex-num {
    grid-area: dexv;
    margin: auto 0;
}

#cun-num {
    grid-area: cunv;
    margin: auto 0;
}

#strength {
    grid-area: strn;
    margin: auto 0;
}

#dexterity {
    grid-area: dexn;
    margin: auto 0;
}

#cunning {
    grid-area: cunn;
    margin: auto 0;
}

#knight-choice {
    grid-area: kbtn;
    text-align: center;
}

#thief-choice {
    grid-area: tbtn;
}

#merchant-choice {
    grid-area: mbtn;
    text-align: center;
}

#actions {
    grid-area: act;
    width: 33vw;
}

#progress-ng {
    grid-area: ngp;
    width: 33vw;
}

#run-actions {
    grid-area: run;
    width: 33vw;
}

/* header styling */
header h2 {
    font-size: 1em;
}

/* story tile styling */
.story-box-start-bg {
    background-image: url(../images/qwetht-title.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    pointer-events: none;
    animation-name: title-rotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    z-index: 0;
}
@keyframes title-rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.story-box-questing {
    border: 1px #000000 solid;
    border-radius: 5px;
}

.story {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 91.75%;
    height: 300px;
    position: relative;
}

.job {
    position: absolute;
    bottom: 25px;
    left: 20%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
    width: 100px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 0 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    z-index: 2;
}

.you-outcome-css {
    position: absolute;
    top: 30vh;
    width: 90vw;
    margin: 0 5vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #000000 2px 2px;
    background-color: #000000d6;
    box-shadow: #000000d6 0px 0px 15px 20px;
    z-index: 5;
}


.you-died-css {
    color: #c00000;
    background-color: #000000d6;
}

.you-won-css {
    text-shadow: #ffd90047 2px 2px;
    color: #eb7e00;
}

#you-died-js-target {
    display: none;
}

#dead {
    font-size: 4em;
    border-top: 2px solid #c00000;
    border-bottom: 2px solid #c00000;
    font-weight: 700;
}

#death-text {
    text-align: center;
   
}

/* controls styling */
.btn-box {
    text-align: center;
    overflow: hidden;
}

.btn {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    border: #000000 solid 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 7px;
    border-radius: 5px;
    animation-name: visible;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    z-index: 6;
}
@keyframes visible {
    from {top: -400%;}
    to {top: 0%;}
}

.keep-going-btn {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    z-index: 3;
}

.btn:hover {
    color:#000000;
    background-color: #ffffff;
    font-weight: 700;
}

.btn:active {
    box-shadow: 0px 0px 3px;
    padding: 4px 6px;
    margin-top: 1px;
}

#encounter-log {
    margin: 0 auto;
}

/* footer styling */
footer {
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

footer > p {
    margin: 5px auto;
    pointer-events: none;
}

#modal-button-holder {
    position: absolute;
    width: 170px;
    height: 50px;
    bottom: 0;
    right: 0;
}

#modal-button {
    position: absolute;
    right: 5px;
    bottom: 7.5px;
    color: #000000;
    background-color: #ffffff;
    border: #ffffff solid 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px 7px;
    border-radius: 5px;
    animation-name: modal-button-opener;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 6;
    pointer-events: auto;
}
@keyframes modal-button-opener {
    from {bottom: 100vh;}
    to {bottom: 7.5px;}
}

#modal-button:hover {
    color: #ffffff;
    background-color: #000000;
    font-weight: 700;
}

#modal-button:active {
    box-shadow: #ffffff 0px 0px 3px;
    padding: 4px 6px;
    margin-top: 1px;
}

.die-mention {
    color: #c00000;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: #000000 0px 0px 2px;

}

.do-it-mention {
    padding: 2px 4px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #ffffff;

}

li {
    padding-top: 7px;
}


/* media queries */
@media screen and (min-width: 1001px) {
    #str-num {
        width: 4em;
    }
    
    #dex-num {
        width: 4em;
    }
    
    #cun-num {
        width: 4em;
    }

    .game {
        height: 90vh;
    }
}

@media screen and (max-width: 1000px) {
    .game {
        grid-template-areas:
        'header header header header header header'
        'storybox storybox storybox storybox storybox storybox'
        'strv strv dexv dexv cunv cunv'
        'strn strn dexn dexn cunn cunn'
        'kbtn kbtn tbtn tbtn mbtn mbtn'
        'act act ngp ngp run run';
    }
    #story-box {
        width: 91.75%;
        margin: 0 auto;
    }
}

@media screen and (min-height: 730px) {
    .you-outcome-css {
        top: 219px;
    }
}

/* animations triggered in js */
.death-anim {
    transform: rotate(90deg);
    transform-origin: 45% 100%;
}

.victory-anim {
    animation-name: victory-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes victory-anim {
    from {transform: rotate(0deg);
        transform-origin: 90% 0%;}
    to {transform: rotate(-360deg);
        transform-origin: 90% 100%;}
}

.story-vis {
    animation-name: story-vis;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
@keyframes story-vis {
    from {top: 250%;}
    to {top: 0%;}
}

.encounter-bg-slide {
    animation-name: encounter-bg-slide;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes encounter-bg-slide{
    from {left: 300%;}
    to {left: 0%;}
}

.str-vis {
    position: relative;
    animation-name: vis;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.dex-vis {
    position: relative;
    animation-name: vis;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.cun-vis {
    position: relative;
    animation-name: vis;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes vis {
    from {top: 400%;
        color: #ffffff;}
    to {top: 0%;
        color: #000000;}
}




