body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

.loading-screen > p {
    margin: 25% 0;
    text-align: center;
    vertical-align: middle;
    font-size: 4em;
    font-weight: 700;
}

#loading {
    display: block;
}

#game-loaded {
    display: none;
}

/* alignment for the game page and game functions */
.game {
    background-color: #ffffff;
    padding: 0;
    border: none;
    display: grid;
    margin: 0 auto;
    width: 100%;
    height: 90%;
    column-gap: 5%;
    grid-template-areas:
        'header header header'
        '. storybox .'
        'strv dexv cunv'
        'strn dexn cunn'
        'kbtn tbtn mbtn'
        'act ngp run';
}

#game > div {
    padding: 5px;
}

header {
    text-align: center;
    margin: 5px 5%;
    grid-area: header;
}

#story-box {
    grid-area: storybox;
    border: 1px #000000 solid;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 0px;
}

.story-box-completed {
    width: 91.75%;
    height: 50vh;
}

.stat-values {
    text-align: center;
}

.stat-titles {
    text-align: center;
}


#str-num {
    grid-area: strv;
}

#dex-num {
    grid-area: dexv;
}

#cun-num {
    grid-area: cunv;
}

#strength {
    grid-area: strn;
}

#dexterity {
    grid-area: dexn;
}

#cunning {
    grid-area: cunn;
}

#knight-choice {
    grid-area: kbtn;
}

#thief-choice {
    grid-area: tbtn;
}

#merchant-choice {
    grid-area: mbtn;
}

#actions {
    grid-area: act;
}

#progress-ng {
    grid-area: ngp;
}

#run-actions {
    grid-area: run;
}

/* header styling */
header h2 {
    font-size: 1em;
}

/* story tile styling */
.story {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 91.75%;
    height: 300px;
    position: relative;
}

#story-bg {
    background-image: none;
}
.job {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
    width: 100px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.you-outcome-css {
    position: absolute;
    top: 33vh;
    width: 90vw;
    margin: 0 5vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #000000 2px 2px;
    background-color: #000000d6;
    box-shadow: #000000d6 0px 0px 15px 20px;
}


.you-died-css {
    color: #c00000;
    background-color: #000000d6;
}

.you-won-css {
    text-shadow: #ffd90047 2px 2px;
    color: #eb7e00;
}

#you-died-js-target {
    display: none;
}

#dead {
    font-size: 4em;
    border-top: 2px solid #c00000;
    border-bottom: 2px solid #c00000;
    font-weight: 700;
}

#death-text {
    text-align: center;
   
}

/* controls styling */
.btn-box {
    text-align: center;
    overflow: hidden;
}

.btn {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    border: #000000 solid 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px 7px;
    border-radius: 5px;
    animation-name: visible;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
@keyframes visible {
    from {top: -400%;}
    to {top: 0%;}
}

.keep-going-btn {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80%;
}

.btn:hover {
    color:#000000;
    background-color: #ffffff;
    font-weight: 700;
}

.btn:active {
    box-shadow: 0px 0px 3px;
    padding: 4px 6px;
    margin-top: 1px;
}

/* footer styling */
footer {
    
    background-color: black;
    width: 100%;
    height: 10%;
    text-align: center;
    color: #ffffff;
}

/* media queries */
@media screen and (max-width: 800px) {
    .game {
        grid-template-areas:
        'header header header'
        'storybox storybox storybox'
        'strv dexv cunv'
        'strn dexn cunn'
        'kbtn tbtn mbtn'
        'act ngp run';
    }

    #story-box {
        width: 91.75%;
        margin: 0 auto;
    }
}